
.hero_container{
    width: 100vw;
    height: 440px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(./hero3x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_hidden{
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 10%;
    display: none;
}

.nav_icon_container{
    margin-left: 5rem;
}

.group_toggle_btn{
    color: #fff;
    border: 2px solid #fff;
    outline: 0;
    background-color: transparent;
    padding: 1rem;
    margin-right: 3rem;
    border-radius: 5px;
}

.hero_content_container{
    color: #fff;
    position: absolute;
    bottom: 20%;
    left: 7%;
}

.hero_content_heading{
    font-size: 3rem;
    font-weight: bold;
}

.hero_content_para{
    font-size: 1.5rem;

}
@media screen and (max-width : 650px){
    .hero_hidden{
        display: flex;
    }
    .hero_content_heading{
        font-size: 2.5rem;
    }
    .hero_content_para{
        font-size: 1rem;
    }
}
