
.hero_container{
    width: 100vw;
    height: 440px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(./hero3x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_content_container{
    color: #fff;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.hero_content_heading{
    font-size: 3rem;
    font-weight: bold;
}

.hero_content_para{
    font-size: 1.5rem;

}

@media screen and (max-width : 500px){
    .hero_content_container{
        left: 7%;
    }

    .hero_content_heading{
        font-size: 2.5rem;
    }
    .hero_content_para{
        font-size: 1rem;
    }
}